/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button,#box{
	-fx-background-color: rgb(237,123,0);
	-fx-text-fill: white;
}

.button:hover{
	-fx-background-color: rgb(168, 87, 0);
}

#pane{
	-fx-border-radius: 5;
	-fx-border-color: rgb(12,64,153);
	-fx-border-width: 8;
	-fx-background-color: white;
}